.App {
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3vw;
  font-size: calc(10px + 2vmin);
  color: white;
  text-transform: capitalize;
}

.App-body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal-pages {
  background-color: white;
  width: 50%;
  margin: 1vw;
  border: solid 1px #f0f0f0;
  border-radius: 4px;
  padding: 1vw;
}